export BILLPAY_MERCHANT_ID=4549
export BILLPAY_PRIVATE_PORTAL_ID=8305
export BILLPAY_PRIVATE_PASSWORD_HASH=zGl7HvD52YwN
export BILLPAY_BUSINESS_PORTAL_ID=6189
export BILLPAY_BUSINESS_PASSWORD_HASH=A9U5kuh7LiW9
export BILLPAY_API_URL=https://test-api.billpay.de/v2/xml/offline
